.box2{
    background-color: rgb(10, 10, 98);
    z-index: 3;
    padding-left: 40px;
    padding-right: 40px;
    padding-block: 5px;
    padding-inline: 20px;
    width: 1480px;
    

}
.box1{
    height: 126px;
    padding: auto;

}
.smbox{
    border: 2px solid white;
}
.Citem{
    padding-top: 0px;
    
    height: 480px;
    
    z-index: 2;
}
.Cimg{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}